* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0;
	margin: 0;
	
	font-family: 'helvetica neue', arial;
}

body {
 	background: black;  
}

section#wrapper {
	float: left;
	width: 100%;
}
section#container {
	float: left;
	width: 100%;
	padding: 1% 1% 0;
	text-align: justify;
}
figure.newspaper {
	width: 12%;
	height: 50px;
	margin-bottom: 0.3%;
	border-radius: 5px;
	overflow: hidden;
	display: none;
}
figure.newspaper .image {
	float: left;
	width: 100%;
	height: 50px;
	background-color: white;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	border: 2px solid white;
}
figure.newspaper .name {
	display: none;
}

button.active {
	background: green;
}


